@import 'base';

// Western brand colors
$wwu-blue: #003f87;
$wwu-lt-blue: #0083d6;
$wwu-red: #cc2d30;
$wwu-yellow: #ffc61e;
$wwu-lime: #bad80a;
$wwu-green: #006b3f;
$wwu-gray-blue: #4b689c;
$wwu-ocean-blue: #0070b6;

// Custom colors
$inactive-quick-tab: #c4c4c4;
$form-text-border: #ddd;
$pull-quote-color: #808080;
$middle-front-page-link: tint($wwu-lt-blue, 80);

.form-item .form-text {
  border-color: #656464;
  border-style: solid;
  border-radius: 0;
}

.pane-menu-menu-accounting-front-page-links .menu {

  a {
    border-style: solid;
    border-color: #fff;
    color: #fff;
  }

  li:nth-child(1) a {
    background-color: $wwu-lt-blue;
  }

  li:nth-child(2) a {
    background-color: $middle-front-page-link;
    color: $wwu-blue;
  }

  li:nth-child(3) a {
    background-color: $wwu-blue;
  }

}

.front .clean-cbe-aside {

  .panel-pane:before {
    color: $wwu-lt-blue;
    float: left;
    margin-right: 1ex;
    font-size: 150%;
  }

  .clean-cbe-phone:before {
    content: '!';
  }

  .clean-cbe-email:before {
    content: '%';
  }

  .clean-cbe-office:before {
    content: '\E800';
  }

}

.view-cbe-news {

  .views-row {
    background-color: #ddd;
    border-bottom-style: solid;
    border-bottom-color: #aaa;
  }

  .views-field-timestamp {
    color: #000;
  }

}

#quicktabs-front_page .quicktabs-tabs {

  a:focus {
    color: $wwu-lime;
  }

  li {
    background-color: #fff;
  }

  a {
    color: $inactive-quick-tab;
  }

  .active a {
    color: $wwu-lt-blue;
  }

}

@media screen and (min-width: 800px) {

  #quicktabs-front_page .quicktabs-tabs {

    li {
      background: none;
    }

    .active a {
      background-image: url('../images/IconArrowBlue.png');
      background-position: right center;
      background-repeat: no-repeat;
    }

  }

}
