@import 'base';

.pane-title {
  margin-top: 0;
}

.clean-cbe .menu {
  padding: 0;
  margin: 0;
  list-style: none;

  li {
    list-style: none;
  }

  a {
    @include box-sizing(border-box);
    display: block;
  }
}

.view-front-page-images {

  .views-responsive-grid .views-row .views-column {
    padding-bottom: 0;
    padding-top: 0;
  }
}

.pane-menu-menu-accounting-front-page-links {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 80%;
  height: 100%;
  max-height: 200vw;
  margin: 0 auto;
  box-sizing: border-box;

  .menu {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 0 2em;
  }

  .menu li {
    height: percentage(1/3);
    text-align: center;
    position: relative;
    box-sizing: border-box;
  }

  .menu a {
    display: block;
    position: relative;
    width: 80%;
    padding: 1em 0;
    border-width: 3px;
    margin-left: 50%;
    transform: translatex(-50%);
    z-index: 1;
    text-transform: uppercase;
  }
}

.clean-cbe-aside {
  $zen-column-count: 2;

  .pane-mailchimp-signup-cbe-signup-form {
    @include zen-grid-item-base();
    @include zen-grid-item(1,1);
  }

  .panel-pane {
    @include zen-grid-item-base();
    @include zen-grid-item(1,1,right);
    @include zen-clear(right);
  }

}

@media screen and (min-width:390px) {

  .pane-menu-menu-accounting-front-page-links {
    max-height: 790px;
  }

}

@media screen and (min-width: 550px) {

  .pane-menu-menu-accounting-front-page-links {
    position: static;
    padding-top: 0;
    width: 100%;

    .menu {
      display: table;
      table-layout: fixed;
    }

    .menu li {
      height: auto;
      display: table-cell;
    }

    .menu a {
      margin-top: -2em;
    }
  }

  .clean-cbe-aside {
    $zen-column-count: 2;

    .pane-mailchimp-signup-cbe-signup-form {
      @include zen-grid-item(2,1);
      @include zen-clear(left);
      @include zen-grid-item-base(0);
    }

    .panel-pane {
      @include zen-grid-item(2,1);
      @include zen-clear(left);
      @include zen-grid-item-base(0);
    }
  }

}

@media screen and (min-width: 800px) { }
